*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1, p{
    text-align: center;
    margin-top: 30px;
}

p, span{
    color: red;
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 600px;
    gap: 20px;
    padding: 20px;
}


label {
    display: block;
    color: blue;
    font-weight: bold;
}

.idadePassatempo {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.idadePassatempo div:nth-of-type(1){
    width: 40%;
}

.idadePassatempo div:nth-of-type(2){
    width: 60%;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    border-radius: 4px;
}

.buttons{
    text-align: center;
    margin-top: 20px;

}

.buttons input{
    background-color: black;
    padding: 10px;
    width: 150px;
    color: white;
    border-radius: 5px;
    border: none;
}

.buttons input:hover {
    transform: scale(0.9); /* Reduz o tamanho */
  }


